@{
    ViewData["Title"] = "Ja'Mie Page";
}

<div class="text-center">
    <h1 class="display-4">Ja'Mie</h1>
    <p>[Display character info here]</p>
    <p style="color:red;"><b><i>Can we use ReturnCharacter in SummerHeightsHighService.cs?</i></b></p>
</div>
